
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

/* Body section */
body {
    font-family: sans-serif, Arial, Helvetica;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header section */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-text {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
}
.header-text h1,
.header-text p {
    margin: 0; /* Remove default margin */
}
header {
    color: #ee3923;
    padding: 0px;
    text-align: left;
    height: 94px;
    position: relative;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
header h1 {
    font-size: 3em;
}
header p {
    font-weight: bold;
}
header h1 a{
    color: #ee3923;
    text-decoration: none;
}
header h1 a:hover{
    text-decoration: underline;
    color: #c71d12;
}

/* Nav section */
nav {
    color: #fff;
    background-color: #12355e;
    padding: 10px 20px;
    text-align: center;
    height: 60px;
    position: relative;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline-block;
    line-height: 60px;
}
nav ul li a {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    user-select: none;
}
nav ul li a:hover {
    text-decoration: underline;
    color: #a4a4a4;
}

/* Hamburger styles */
.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #aeaeae;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    background-image: url('img/globe.png');
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 25%;
    padding-left: 40px;
    margin-left: auto; /* Push dropdown to the right */
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown-obj {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-top: 10px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown-obj:hover .dropbtn {
    background-color: #6a6a6a;
  }
  .not-selectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Main & wrapper section */
.wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
main {
    min-height: 540px;
    margin-bottom: 50px;
    transition: margin-top 0.3s ease;
}
body.menu-open main {
  margin-top: 200px; /* adjust based on your nav height */
}
main h2 {
    color: #333;
}
main p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
}
main p + p {
    margin-top: 20px; /* Additional margin between consecutive paragraphs */
}
h2 {
    font-size: 45px;
}
.shop-button {
    background-color: #12355e;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    display: flex;
}

/* content container section */
.flow-container {
    display: flex;
}

.left-flow {
    flex: 1;
    padding-right: 20px;
}

.right-flow {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

/* Footer section */
footer {
    color: #fff;
    background-color: #12355e;
    padding: 10px 20px;
    text-align: center;
}

/* Collapse button section */
.collapsible {
    background-color: #3C435F;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 10px;
  }
  
  .active, .collapsible:hover {
    background-color: #1E2230;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  /* Parallax scrolling CSS*/
.parallax {
    /* The image used */
    background-image: url("img/stars.png");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* Carousel stylings */
.carousel {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .carousel-item {
    display: none; /* Hide all items by default */
    padding: 48px;
    text-align: center;
    background-color: #f1f1f1;
    min-height: 325px;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #12355e;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }

  .review-icon {
    color:#12355e;
    font-style: italic;
    font-family: 'Catamaran', sans-serif;
    margin: 0px;
    padding: 0px;
  }
  
  /* mobile section */
@media (max-width: 760px) {

  header p {
    font-size: 10px;
  }

  .hamburger-menu {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #12355e;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        display: block;
        text-align: center;
        line-height: 50px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  
    .flow-container {
    flex-direction: column;
  }

  .left-flow,
  .right-flow {
    padding-right: 0;
    justify-content: center; /* Optional: center image/text on mobile */
    text-align: center;       /* Optional: center-align text */
  }

  .right-flow {
    margin-top: 15px; /* Optional spacing between text and image */
  }

  img {
    max-width: 280px;
  }

  .parallax {
    display: none;
  }

  .footer-image {
    width: 300px;
  }
}